
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style use ane where */
main > section {
    margin-top: 120px;
}
.btn-primary {
    background-color: #FF900E;
    height: 64px;
    width: 180px;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 20px 25px;
    font-weight: 600;
}
.display-flex {
    display: flex;

}
.primary-bg-clr {
    background-color: rgba(255, 144, 14, 10%);
}

.text-clr-01{
    color: #131313;
}
.text-clr-02{
    color: #424242;
}
.text-clr-03 {
    color: #727272;
}


/* header style start here */
main {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    /* padding: 3.5rem 12rem; */
}


.navbar, .banner {
    max-width: 1140px;
    margin: 0 auto;
}
.navbar {

    justify-content: space-between;
    align-items: center;
}
.brand-name {
    font-size: 3rem;
    font-weight: 700;
}
.na-list {
    
}
.nav-link {
    list-style: none;
   margin-left: 40px;
   font-size: 1.2rem;
   font-weight: 500;
   
}
.nav-link a {
    text-decoration: none;
     color: #424242;
}
/* banner style start here */
.banner-content {

max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.banner-img {

    /* max-width: 850px; */

}
.banner-img img {
    width: 100%;
    
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc {
    font-size: 1rem;
    color: #727272;

}

.banner-img {
    /* height: 700px; */
}

/* main stile start here  */

/* quick list future */
.quick-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-lst-container {


}

.quick-list {
    align-items: center;

}


.quick-contats {
    margin-left: 120px;
    /* width: 537px;
    height: 304px; */
}

h3.quick-title {
    font-size: 3.2rem;
    font-weight: 700;
}
#quick {
     color: #727272;
     font-weight: 500;
}
.fucer {
    color: #FF900E;
}    
.quict-des {
    color: #727272;
}

/* some style here */


h3.some-title {
    font-size: 2.3rem;
}
p.some-des {
    color: #727272;
}

.some-crd {
    
    border: 1px solid #FF900E;
    border-radius: 8px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.some-roup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

h3.crd-ti {
    font-size: 2.3rem;
    font-weight: 700;
    color: #727272;
    padding: 0px;
    margin: 5px auto;
}

.spon-imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    filter: grayscale(1);
    
}

.sponsor-con {
    width: 542px;
    height: 129px;
    margin: 0 auto;
     text-align: center;
}
.sponsor-con { 
  
}
h3.spn-tile {
    font-size: 2.3rem;
    font-weight: 700;
}
/* Responsive style start here */
/* small devices style here  */
@media screen and (max-width: 576px) {
    .navbar, .nav-lists{
        flex-direction: column;
    }

    li.nav-link {
    margin: 10px;
}

section {
    flex-direction: column;
}


.quick-imgs {
       grid-template-columns: 1fr;
    /* gap: 24px; */
}

.quick-contats {
    margin: 0 auto;
}

.some-roup {
    grid-template-columns: 1fr;
}
.spon-imgs {
    
    grid-template-columns: repeat(2, 1fr);

}

/* Responsive for tablet devices */
@media screen and (min-width: 576px) and (max-width: 996px) {
    .navbar {
        flex-direction: column;
    }

    .quick-list {
        flex-direction: column;
    }

    .some-roup {
    grid-template-columns: repeat(2, 1fr);
}
}